@page
@model LoginModel

<div class="card login-card mt-4 shadow border-0">
    <div class="card-header login-header text-center">
        <h2 class="py-2">Login</h2>
    </div>
    <div class="card-body login-body">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="login-button login-button-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" class="login-link">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="login-link">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="login-link">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="card-footer login-footer">
        <section>
            <p class="divider-text"><span>or</span></p>            
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            if (provider.Name == "Facebook")
                            {
                                <button type="submit" class="login-button login-button-facebook" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    <i class="fab fa-facebook"></i> Log in with Facebook
                                </button>
                            }
                            else
                            {
                                <button type="submit" class="login-button login-button-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    @provider.DisplayName
                                </button>
                            }
                        }
                    </p>
                </div>
            </form>
               
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
